html{
  height: 100%;
}
body {
  background-color: darkgrey;
  height: 100%;
}

.container {
  display: flex;
}

.carCards {
  background-color: lightblue;
  align-items: stretch;
  position: relative;
  min-height: 400px;
  text-align: center;
  border: 2px solid;
  }

.purchased {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.selectedCarCard {
  border: 6px solid red;
  background-color: aqua;
}
